<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "mypushapp"
        version     = "1.0.0" >

    <name>Push app</name>
    <description>My push app</description>
    <author email="kolya_shchur@mail.com">
		Mykola Shchur
	</author>
	
	<platform name="android" />
	
	<plugin name="cordova-plugin-device"/>
	<plugin name="cordova-plugin-dialogs"/>
	<plugin name="phonegap-plugin-push"/>
	<plugin name="cordova-plugin-console"/>
	<plugin name="cordova-plugin-media"/>
	<plugin name="cordova-plugin-whitelist"/>
	<access origin="*"/>

</widget>